<main id="about">
  <h1 class="lg-heading">
    About
    <span class="text-secondary">Me</span>
  </h1>
  <h2 class="sm-heading">
    Let me tell you a few things...
  </h2>
  <div class="about-info">
    <img src="../../assets/img/portrait.jpg" alt="John Doe" class="bio-image">

    <div class="bio">
      <h3 class="text-secondary">BIO</h3>
      <p>Hello, my name is Aditya Sharma and currently I am working as a Consultant in Syntel's Pune GDC.</p>
      <p>I hold a Bachelor of Technology from UPTU and have 5.5 years of experience in the field with multiple awards under my belt.</p>
      <p>I consider myself as a digital geek who likes to read and learn about new technologies and advancements in the digital world.</p>
    </div>

    <div class="job job-1">
      <h3>Rating EBS (FedEx)</h3>
      <h6>Full Stack Developer</h6>
      <p>Working as a full stack developer in this project which aims at creating a service that can Rate a particular shipment and can be deployed anywhere in the world.</p>
    </div>

    <div class="job job-2">
      <h3>SenseAware (FedEx)</h3>
      <h6>Front End Developer</h6>
      <p>Worked as a front end developer in this project which provides the customer with near real time tracking of their shipment through a responsive web app.</p>
    </div>

    <div class="job job-3">
      <h3>iPna (State Street)</h3>
      <h6>Front End Developer</h6>
      <p>Worked as a front end developer in this project where we had to migrate a desktop analytical engine(writted in C++) used by fund managers to cloud. We re-created the UI using Adobe Flash Builder and deployed it to cloud.</p>
    </div>
  </div>
</main>
<footer id="main-footer">
  Copyright &copy; 2018
</footer>